.heading {
  white-space: nowrap;
  border-bottom: 2px solid maroon;
}
.company-logo {
  width: 8%;
}

/*for mobile devices*/
@media (min-width: 320px) and (max-width: 480px) {
  .heading {
    margin-left: 60px;
  }
  .information {
    margin-left: 40px;
  }
}

/* low resolution tablets and Ipad     */

@media (min-width: 481px) and (max-width: 767px) {
  .heading {
    font-size: 15px;
    margin: 30px;
  }
}
