.details {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 10px;
}
.submit-button {
  width: 100%;
  margin-left: inherit;
  background: blueviolet;
}
label {
  margin: 5px;
  font-size: 10px;
  font-weight: 700;
}
input[type="text"],
[type="email"] {
  background: peachpuff;
  color: black;
  border: 0;
  border-radius: 5px;
}

textarea {
  background: peachpuff;
  color: black;
  border: 0;
  border-radius: 5px;
}
input[type="submit"] {
  margin-top: 10px;
  background: blueviolet;
  color: white;
  border: 0;
  border-radius: 5px;
}

.contact {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}
