.skills {
  background-color: purple;
  height: 400px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 14px;
  border-radius: 12px;
  animation: pulse 5s infinite, pulse 3s ease infinite alternate;
}
@keyframes pulse {
  0% {
    background-color: #001f3f;
  }
  100% {
    background-color: maroon;
  }
}

.programming-languages {
  margin: 20px;
}
.web-tech {
  margin: 20px;
}
.deploy {
  margin: 20px;
}
.library {
  margin: 20px;
}
.tools {
  margin: 20px;
}
