.footer {
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  text-align: center;
  font-size: 1.2rem;
  white-space: nowrap;
}
/*media query for laptops and desktops 1025-1280*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .footer {
    font-size: 1rem;
  }
}
/*media query for low resolution laptops and media screen 481-767*/
@media (min-width: 487px) and (max-width: 767px) {
  .span {
    display: inline;
  }
}
